.rainbow-valley-map-container {
  background: url("/images/map.svg") no-repeat fixed;
  background-size: cover;
}

.stoneBullet {
  /* width: 150px; */
  /* height: 150px; */
  /* background-color: #FFC553; */
  border-radius: 60% 40% 60% 40% / 40% 60% 40% 60%;
  /* transform: rotate(-115.25deg); */
}
