@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  }

  body {
    @apply font-OpenSans;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[4px] bg-black/20;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-black/30;
  }

  ::-webkit-scrollbar-thumb:active {
    @apply bg-black/40;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 0.875rem;
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4 6L8 10L12 6' stroke='black' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
  }
}

@layer components {
  .button {
    @apply text-black md:px-6 md:py-2 px-1 py-1 transition-colors ease-in-out duration-300 hover:text-[#732F2F];
  }



  .button-colored {
    @apply text-red-800 md:px-6 md:py-2 px-1 py-1 transition-all ease-in-out duration-300 border-b-2 border-transparent hover:border-red-800;
  }

  .button-filled {
    @apply bg-[#5D1B2A] text-white hover:text-white py-0 px-3 md:px-6 md:py-2 transition-colors ease-in-out duration-300 hover:bg-[#703636];
  }

  .selectable {
    @apply cursor-pointer p-2 rounded-xl hover:shadow hover:bg-black/5 transition-all ease-in-out duration-300;
  }

  .truncate {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .hover-grow {
    @apply transition-transform duration-300 ease-in-out;
  }

  .hover-grow:hover {
    transform: scale(1.1, 1.55) translateY(-18%);
  }

  .back-effect {
    color: #FF5B5B;
    transition: color 0.3s ease-in-out;
  }

  .back-effect:hover {
    color: black;
  }


  .hover-grow-x {
    transition: transform 0.3s ease-in-out;
  }

  .hover-grow-x:hover {
    transform: scale(1.1);
  }

  .pregnancy-button {
    @apply bg-[#E0E0E0] relative px-4;
  }

  .pregnancy-button::before {
    content: "Pregnancy";
    padding: 0 10px;
    color: #B8B8B8;
    /* Set the content color */
  }

  .pregnancy-button:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .pregnancy-button:hover::before {
    content: "Parental\A Paradise";
    white-space: pre;
    line-height: 1.2;
    padding: 0 10px;
    color: white;
  }

  .pregnancy-button:hover::after {
    content: "";
    position: absolute;
    left: 5px;
    /* Adjust as needed */
    width: 25px;
    /* Slightly larger circle */
    height: 25px;
    /* Slightly larger circle */
    background-color: #E07FE9;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hover-bg-pregnancy {
    @apply transition-colors duration-300 ease-in-out hover:bg-[#F797FF];
  }

  /* Ages 0-1 navbar button effects*/
  .age-one-button {
    @apply bg-[#E0E0E0] relative px-4;
  }

  .age-one-button::before {
    content: "Ages 0-1";
    padding: 0 10px;
    color: #B8B8B8;
  }

  .age-one-button:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .age-one-button:hover::before {
    content: "Blossom\A Haven";
    white-space: pre;
    line-height: 1.2;
    padding: 0 10px;
    color: white;
  }

  .age-one-button:hover::after {
    content: "";
    position: absolute;
    left: 5px;
    /* Adjust as needed */
    width: 25px;
    /* Slightly larger circle */
    height: 25px;
    /* Slightly larger circle */
    background-color: #F1A533;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hover-bg-age-one {
    @apply transition-colors duration-300 ease-in-out hover:bg-[#FFB545];
  }

  /* Ages 1-2 navbar button effects*/
  .age-two-button {
    @apply bg-[#E0E0E0] relative px-4;
  }

  .age-two-button::before {
    content: "Ages 1-2";
    padding: 0 10px;
    color: #B8B8B8;
  }

  .age-two-button:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .age-two-button:hover::before {
    content: "Starlight\A Meadows";
    white-space: pre;
    line-height: 1.2;
    padding: 0 10px;
    color: white;
  }

  .age-two-button:hover::after {
    content: "";
    position: absolute;
    left: 5px;
    /* Adjust as needed */
    width: 25px;
    /* Slightly larger circle */
    height: 25px;
    /* Slightly larger circle */
    background-color: #5A6EDD;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hover-bg-age-two {
    @apply transition-colors duration-300 ease-in-out hover:bg-[#7288FF];
  }

  /* Ages 3-4 navbar button effects*/
  .age-three-button {
    @apply bg-[#E0E0E0] relative px-4;
  }

  .age-three-button::before {
    content: "Ages 2-3";
    padding: 0 10px;
    color: #B8B8B8;
  }

  .age-three-button:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .age-three-button:hover::before {
    content: "Rainbow\A Valley";
    white-space: pre;
    line-height: 1.2;
    padding: 0 10px;
    color: white;
  }

  .age-three-button:hover::after {
    content: "";
    position: absolute;
    left: 5px;
    /* Adjust as needed */
    width: 25px;
    /* Slightly larger circle */
    height: 25px;
    /* Slightly larger circle */
    background-color: #E75858;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hover-bg-age-three {
    @apply transition-colors duration-300 ease-in-out hover:bg-[#FF7272];
  }

  /* Ages 4-5 navbar button effects*/
  .age-four-button {
    @apply bg-[#E0E0E0] relative px-4;
  }

  .age-four-button::before {
    content: "Ages 3-4";
    padding: 0 10px;
    color: #B8B8B8;
  }

  .age-four-button:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .age-four-button:hover::before {
    content: "Adventure\A Bay";
    white-space: pre;
    line-height: 1.2;
    padding: 0 10px;
    color: white;
  }

  .age-four-button:hover::after {
    content: "";
    position: absolute;
    left: 5px;
    /* Adjust as needed */
    width: 25px;
    /* Slightly larger circle */
    height: 25px;
    /* Slightly larger circle */
    background-color: #6EE0DB;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hover-bg-age-four {
    @apply transition-colors duration-300 ease-in-out hover:bg-[#9AECE8];
  }

  /* Ages 5-6 navbar button effects*/

  .age-five-button {
    @apply bg-[#E0E0E0] relative px-4;
  }

  .age-five-button::before {
    content: "Ages 5-6";
    padding: 0 10px;
    color: #B8B8B8;
  }

  .age-five-button:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .age-five-button:hover::before {
    content: "Fantasy\A Forest";
    white-space: pre;
    line-height: 1.2;
    padding: 0 10px;
    color: white;
  }

  .age-five-button:hover::after {
    content: "";
    position: absolute;
    left: 5px;
    /* Adjust as needed */
    width: 25px;
    /* Slightly larger circle */
    height: 25px;
    /* Slightly larger circle */
    background-color: #5BE995;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hover-bg-age-five {
    @apply transition-colors duration-300 ease-in-out hover:bg-[#97EAB9];
  }

  .nav-text-container {
    padding-left: 1rem;
    text-align: center;
  }

  .main-title {
    font-size: 2rem;
    /* Make the font larger */
    font-weight: 850;
    /* Make it bolder */
    color: #ff0000;
    /* Red color */
  }

  .sub-title {
    font-size: 1rem;
    /* Slightly smaller font for the subtitle */
    color: #ff6666;
    /* Lighter red color */
  }

  .meditation-activity-one-bg {
    background-color: #FF8C38;
  }


  .meditation-activity-two-bg {
    background-color: #FFED4D;
  }

  .meditation-activity-three-bg {
    background-color: #61C5FE;
  }

  .meditation-activity-four-bg {
    background-color: #FEEE61;
  }

  .meditation-activity-five-bg {
    background-color: #FFA43A;
  }


  .eye {
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes bop {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.bop-animation {
  animation: bop 2s infinite;
}