.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/map.svg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  